
.box {
    color: white;
    position: relative; /* Để đẩy lớp .box lên phía trên */
    z-index: 1; /* Đảm bảo .box nằm trên lớp màu xanh */
    margin-top: 100px;
    width: 350px;
    height: 500px;
    color: #00d8ff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;

}
.submit{
    color: white;
    width: 120px;
    height: 40px;
}
.dangky{
    width: 120px;
    height: 40px;
}

.btnbox {
    width: 270px;
    display: flex;
    justify-content: space-evenly;
}
.delete{
    color: white
}
.btn{
    color: white
}
.back1{
    color: white
}
button {
    background: #00d8ff;
    border: 1px solid #00d8ff;
    width: 100px;
    height: 40px;
    white-space: nowrap;
    text-align: center;
    color: black;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    border-radius: 5px;
}
button:hover {
    background-color: #00c3e6; /* Darker blue on hover */
  }